
<div style=" position:fixed;
left:0px;
bottom:0px;
height:30px;
width:100%;">
  <input class="retrigger" id="retrigger--1" type="radio" name="rerun"/>
  <input class="retrigger" id="retrigger--2" type="radio" name="rerun" checked="checked"/>
  <div class="bg"></div>
  <div class="buttons">
  </div>
  <div class="pane" style="  bottom: 0;">
    <div class="rotate">
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
      <div class="logo">MARVEL</div>
    </div>
  </div>
  
</div>
