<img src="assets/New1.png" style="position: absolute; height: 80vh; right: 123vh;">
<img src="assets/New2.jpg" style="position: absolute; height: 80vh; right: 168vh;">
<img src="assets/New3.jpg" style="position: absolute; height: 87vh; right: 0vh;">
<img src="assets/New4.gif" style="position: absolute; height: 30vh; right: 50vh; padding-top: 20px;">
<div class="create">
    <button class="game" mat-raised-button color="primary" style="margin-left:24%; margin-top: 5%; height: 100px; font-size: large;" mat-stroked-button color="primary" (click)="crearJuego()">Crear Juego</button>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                       
                        <mat-form-field >
                           
                            <input type="text"  matInput
                                [matAutocomplete]="auto" [formControl]="userControl" #userInput>
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                                    <mat-option *ngFor="let user of filteredUsers | async" [value]="selectedUsers" >
                                        <div (click)="optionClicked($event, user)" >
                                            
                                            <mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)"
                                                (click)="$event.stopPropagation()" >
                                                {{ user.displayName }} [{{ user.email }}]
                                            </mat-checkbox>
                                            
                                        </div>
                                    </mat-option>
                                </mat-autocomplete >
                                <div class="create">
                                    <button class="game" mat-raised-button color="primary">
                                        <p >Invite a los jugadores a participar del juego</p>
                                    </button>
                                </div>
                              

                
                                <mat-list style="width: 300px; background-color: black;">
                                    <mat-list-item *ngFor="let user of selectedUsers" style="border: bold;">
                                        {{ user.displayName }} [{{ user.email }}]
                                    </mat-list-item>                                   
                                </mat-list>
                        </mat-form-field>
                    </mat-grid-tile>             
</mat-grid-list>
<audio autoplay [volume]="0.1" src="assets/Sound/New.mp3" type="audio/mp3" loop></audio>       